.sidebar{
    width: 200px;
    background-color: #AEF0ED;
    padding: 20px 0 0 0;
    height: 130vh;
    position: relative;
    top: -24px;
    left: -12px;
}

.sidebar img{
    border-radius: 50px;    
}

.sidebar h5{
    color: black;
    margin-top: 10px;
}

.sidebar h2{
    color: black;
}

.menu-item{
    width: 200px;
    padding: 10px 0 10px 20px;
    transition: background-color .5s;
    cursor: pointer;
}

.menu-item:hover{
    background-color: white;
    color: black;
}

.float_center{
    float: right;
    width: 82%;
    right: 50%;
  }
  #img-holder{ 
	background: url(background.jpg) 
} 
    

  
